.gallery-carousel {
  display: flex;

  &:hover {
    .zoom--hoverEffect {
      opacity: 0.6;
    }
  }
}

.carousel-root {
  height: 100%;
}

.carousel-slider {
  height: 100%;
  width: 100%;
}

.slider-wrapper {
  height: 100%;
}

.slider {
  height: 100%;
}
