.colorpicker--container {
  width: "100%";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .colorpicker--review {
    width: 32px;
    height: 32px;
    border: 2px solid gray;
    border-radius: 5px;
  }

  .colorpicker--select {
    position: absolute;
    left: -125%;
    z-index: 10;
  }
}
